/* For treemenu.js */
.treemenu li { list-style: none; }
.treeList ul{display: none;}
.treemenu .toggler {
    cursor: pointer;
    color: #eb2e3b;
}
.treemenu .toggler:before {
    display: inline-block;font-weight: bold;font-size: 17px; 
}
li.tree-empty > .toggler { color: #fff; }
li.tree-empty > .toggler:before { content: "\2212"; font-weight: normal; }
li.tree-closed > .toggler:before { content: "+";font-weight: bold;font-size: 17px; }
li.tree-opened > .toggler:before { content: "\2212";}
.tree {
    color:#333;
    padding: 5px 15px;
}

.tree li a {
    color:#333;
    text-decoration: none;
    line-height: 28px;
    /*font-weight: bold*/
}
.tree li{width: 100%}
.tree li>ul{margin-left: 15px;}
.tree li .treeList ul{margin-left: 10px;}
/*.treeList ul li a{background: url(../images/tree_a.png) no-repeat left;padding: }*/


.tree li a:hover {
    text-decoration: underline;
}

.tree li .active {
   color: #333;
}
.tree li .current {
   color: #eb2e3b;
}

/*.tree li .active a {
    color: #333;
}*/

.tree li a.active:hover {
   color:#eb2e3b;
}


.inforDot{background: url(../images/dot.png) no-repeat left;padding-left: 10px;display: block;}