/*搜索页头部*/
.lxy_top_box{width: 1200px; line-height: 30px; font-size: 13px; color: #666; margin: 0px 0px 0px 24px; }
/*.lxy_top{width: 100%; height: 30px; background: #f8f8f8; }
.lxy_top_box{width: 1540px; line-height: 30px; font-size: 13px; color: #666; margin: 0px 0px 0px 24px; }
.lxy_topL{position: relative;}
.lxy_topLL{margin-right: 18px;}
.lxy_topLL a{color: #666;}
.lxy_topLL a:hover{color: #ff1616;}
.lxy_topLL span{background: url(../images/common/y_101.jpg) no-repeat; background-size: 100%; width: 1px; height: 14px; display: inline-block; margin: 0px 10px -3px;}
.lxy_topLR em{background: url(../images/common/y_102.png) no-repeat; background-size: 100%; width: 12px; height: 14px; display: inline-block; margin: 0px 5px -1.2px 0px;}
.lxy_topLR em.lxy_topLR_em{background: url(../images/common/y_114.png) no-repeat; background-size: 100%; width: 12px; height: 14px; display: inline-block; margin: 0px 5px -1.2px 0px;}
.lxy_topLR span{font-size: 13px; color: #ff6633;}
.lxy_topLR i{background: url(../images/common/y_109.png) no-repeat; background-size: 100%; width: 9px; height: 6px; display: inline-block; margin: 0px 0px 1px 5px;}
.lxy_topLR i.lxy_topLR_open{background: url(../images/common/y_113.png) no-repeat; background-size: 100%; width: 9px; height: 6px; display: inline-block; margin: 0px 0px 1px 5px;}
.lxy_topLR span.lxy_topLR_span{color: #ff1616;}
.lxy_topR{font-size: 13px; color: #666666;}
.lxy_topR a{font-size: 13px; color: #666666;}
.lxy_topR ul li{float: left; position: relative; margin-left: 30px;}
.lxy_topR ul li .lxy_topR_open{text-align: center; min-width: 60px;}
.lxy_topR ul li .lxy_topR_open a{display: inline-block;}
.lxy_topR ul li .lxy_topR_open a.lxy_now{color: #ff1616;}
.lxy_topR ul li .lxy_topR_open a em{background: url(../images/common/y_112.png) no-repeat; background-size: 100%; width: 9px; height: 6px; display: inline-block; margin: 0px 0px 1px 5px;}
.lxy_topR ul li .lxy_topR_open a.lxy_now em{background: url(../images/common/y_105.png) no-repeat; background-size: 100%; width: 9px; height: 6px; display: inline-block; margin: 0px 0px 1px 5px;}
.lxy_topR ul li .lxy_topR_hide{width: 90px; background: #fff; text-align: center; position: absolute; z-index: 100; left: 50%; margin-left: -45px; -webkit-box-shadow:0 0 10px 5px #e3e2e2; -moz-box-shadow:0 0 10px 5px #e3e2e2; box-shadow:0 0 10px 5px #e3e2e2; display: none;}
.lxy_topR ul li .lxy_topR_hide a{padding: 0px 12px; display: block; line-height: 36px; font-size: 13px; color: #666666; border-bottom: 1px solid #e9eef4;}
.lxy_topR ul li .lxy_topR_hide a:hover{color: #ff1616; background: #fafafa;}
.lxy_topR ul li:hover .lxy_topR_hide{display: block;}*/
/*搜索页头部阴影*/
.lxy_shadow{ background: url(../images/v3.1_search/lxy_18.png) repeat; width: 100%; height: 10px; margin-bottom: 23px;}
/*logo&search*/
.lxy_header{width: 1200px; height: 70px; margin: 0px 0px 0px 24px;}
/*.lxy_header{  width: 100%; height: 70px; padding-left:24px; margin: 0px; -moz-box-shadow: 0px 3px 12px -6px #aaaaaa; -webkit-box-shadow: 0px 3px 12px -6px #aaaaaa; box-shadow: 0px 3px 12px -6px #aaaaaa; filter: progid:DXImageTransform.Microsoft.Shadow(color='#aaaaaa', Direction=125, Strength=9);}*/
.lxy_headerL{ margin-right: 25px;  }
.lxy_headerL a{display: block; margin-top: 15px; float: left;}
.lxy_headerL img{float: left; width: 100px; height: 40px;}
.lxy_headerL em{ width: 6px; height: 6px; margin: 0px 8px; background: url(../images/v3.1_search/lxy_17.png); display: inline-block; margin-bottom: 5px;}
.lxy_headerL span{color: #ff6633; font-size: 24px;font-style: normal;}
.lxy_headerR{padding-top: 13px; width: 684px; height: 38px; position: relative; margin: 0px; float: left; position: relative; }
.lxy_headerR input{border: 2px solid #fdad5c; width: 552px; line-height: 40px; height: 40px; padding-left: 18px; display: block; float: left; overflow: hidden; font-size: 16px; }
.lxy_headerR .lxy_search_ico{background: #fdad5c; background: -moz-linear-gradient(left, #fdad5c 0%, #fd8844 100%); background: -webkit-linear-gradient(left, #fdad5c 0%,#fd8844 100%); background: -o-linear-gradient(left, #fdad5c 0%,#fd8844 100%); background: -ms-linear-gradient(left, #fdad5c 0%,#fd8844 100%); background: linear-gradient(to right, #fdad5c 0%,#fd8844 100%); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#fdad5c, endColorstr=#fd8844);/*IE<9>*/ -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#fdad5c, endColorstr=#fd8844)";/*IE8+*/ width: 100px; height: 44px; display: block;  float: left;line-height: 44px; text-align: center; font-size: 20px; color: #ffffff;}
/*搜索页头部-注册和登录*/
.lxy_login a{ color: #3275da }
.lxy_register a{ color: #fc673d }

/*搜索页主体*/
.lxy_content{ margin: 0px 0px 0px 220px; width: 580px; }
/*搜索页相关品牌*/
.lxy_related_brand{ margin-bottom: 30px;  }
.lxy_brand_head p{ color: #144a90; font-size: 18px; }
.lxy_brand_list{ margin: 0px -10px; }
.lxy_brand_list ul li a{ width: 100%; height: 100%; display: inline-block; text-align: center; }
.lxy_brand_list ul li{ margin: 19px 20px 7px; float: left; width: 60px}
.lxy_brand_list ul li img{ width: 60px; height: 60px; }
.lxy_brand_list ul li span{ font-size: 13px; color: #144a90; width: 100%; height: 18px;overflow: hidden; display: inline-block;}
.lxy_brand_list ul li a:hover span{ color: #ff1616; }
/*搜索页相关车系*/
.lxy_related_audi{ margin-bottom: 30px;  }
.lxy_audi_head a{ color: #144a90; font-size: 18px; text-decoration: underline;}
.lxy_audi_head a:hover{ color: #ff1616;  }
.lxy_audi_list ul li a{ width: 100%; height: 100%; display: inline-block; text-align: center; }
.lxy_audi_list ul li{ margin: 19px 33px 10px 0px; float: left; width: 120px; }
.lxy_audi_list ul li:nth-child(4n){ margin-right: 0px; }
.lxy_audi_list ul li img{ width: 120px; height: 80px; }
.lxy_audi_list ul li span{ font-size: 13px; color: #144a90; width: 100%; height: 18px;overflow: hidden; display: inline-block;}
.lxy_audi_list ul li a:hover span{ color: #ff1616;  }
.lxy_audi_list ul li p{ color: #ff1616; font-size: 13px; }
/*搜索页相关文章*/
.lxy_related_article ul li{ margin-bottom: 50px;  }
.lxy_article_head{ margin-bottom: 18px; }
.lxy_article_head a{ color: #144a90; font-size: 18px; text-decoration: underline; }
.lxy_article_head a:hover{ color: #ff1616;}
.lxy_ac_img{ width: 138px; height: 102px; margin-right: 10px }
.lxy_ac_detail{ width: 432px; height: 102px;  }
.lxy_ac_detail p{ font-size: 13px; color: #333333; height: 50px; width: 100%; line-height: 25px; overflow: hidden; margin-top: -7px; margin-bottom: 45px}
.lxy_ac_detail span{ color: #999999; font-size: 12px; margin-right: 20px; display: block; float: left;}
/*搜索页底部*/
.lxy_footer{ background: #f8f8f8; height: 34px; line-height: 34px; padding-left: 220px; font-size: 14px; color: #666666; }
.lxy_footer a{ color: #666666; float: left;  }
.lxy_footer span{ margin: 0px 13px; float: left; }
/*搜索首页-输入字段联想*/
.y_associate{width: 571px;}
/*搜索无结果*/
.lxy_noresult{ margin-top: 87px; width: 640px;  }
.lxy_noresult_img img{ width: 193px; height: 168px;  }
.lxy_noresult_tips h3{ color: #2d72dd; font-size: 18px; font-weight: normal; margin-bottom: 33px;}
.lxy_noresult_tips p{ color: #666666; font-size: 16px; line-height: 30px; }
/*修改*/
/*搜索页*/
/*.lxy_brand_list ul li img{ background: url(../images/v3.1_common/y_206.png) center center; display: block;}*/
.lxy_audi_list ul li img{ background: url(../images/v3.1_common/y_206.png) center center; display: block; }
.lxy_ac_img{ background: url(../images/v3.1_common/y_206.png) center center; }
.lxy_footer a:hover{ color: #ff1616 }